.DS_Stores
.svn
exam.iws
target
bin
.idea
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings
.checkstyle
test-output
*.log
atlassian-ide-plugin.xml
felix-cache
fwdir
moviedb-json
.factorypath

# ignore while experimental
pax-exam-container-geronimo
regression-mdb
