.DS_Stores
.svn
exam.iws
target
bin
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
test-output
*.log
atlassian-ide-plugin.xml
felix-cache
fwdir
moviedb-json

# ignore while experimental
pax-exam-container-geronimo
pax-exam-sample5-mdb
regression-mdb
